<div class="col-md-6 col-md-offset-3" ng-controller="localStorageController" ng-init="init()">
    <h3><i class="glyphicon glyphicon-hdd"></i> User Details retrieved from Local Storage</h3>
    <table class="table table-bordered table-hover">
        <tr>
            <td>Username</td>
            <td id="username"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td id="password"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td id="email"></td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td id="fname"></td>
        </tr>
        <tr>
            <td>Location</td>
            <td id="location"></td>
        </tr>
        
    </table>
</div>